body {
  background: #DEB887;
  font-family: sans-serif;
}
.appclass {
   margin-left: 35%;
}
.task_container {
  padding: 10px 0 0 10px;
  width: 500px;
}
.task_name {
  text-align: center;
  width: 500px;
  height: 30px;
  border: 1px solid black;
  background-color: orange;
}
.task_text {
  padding: 10px 0 0 20px;
  width: 480px;
  height: 100px;
  border: 1px solid black;
  background-color: white;
}
button {
  width: 80px;
  height: 40px;
}